#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  /* Removendo qualquer margem fixa */
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}
