/* homepage.css */

/* Navbar fixa */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 1000; /* Garante que a navbar fique acima dos outros elementos */
}

/* Sidebar fixa */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar-nav {
  width: 100%;
  color: #ddd;
  font-size: 16px;
}

.nav-item {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  background-color: #333;
  border-bottom: 1px solid #444;
}

.nav-item:hover {
  background-color: #555;
}

.submenu {
  background-color: #2b2b2b;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.submenu a {
  color: #aaa;
  padding: 10px;
  text-decoration: none;
}

.submenu a:hover {
  color: #fff;
}

/* Ajuste no conteúdo principal */
.main-content {
  flex-grow: 1;
  margin-left: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: calc(100% - 200px);
}

/* Cards de cursos */
.courses-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; /* Centraliza os cards */
  padding: 20px;
}

.curso {
  margin-top: 40px;
  flex: 1 1 250px;
  max-width: 250px;
  background-color: #202020;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.curso:hover {
  transform: scale(1.05);
  background-color: #555;
}

.curso-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.curso-info p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.curso-info span {
  font-size: 12px;
}

.curso:hover .curso-image {
  transform: scale(1.1);
}

